.jumbotron.banner {
  background: url(../img/queen-band-wallpaper-thin.jpg) no-repeat center;
  background-size: cover;
  color: rgb(128, 15, 15);
  padding-top: 12rem;
  font-weight: 3000;
  font-family: 'myFont';
  src: url("myFont.woff");
}

.jumbotron {
  margin-bottom: 30px;
}

.jumbotron-text {
  margin-bottom: 175px;
  color: #828190;
}